.style-0 {
  background-color: rgba(51,51,51,1)
}
.style-1 {
  background-color: rgba(0,0,0,1)
}
.style-3 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-5 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-6 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-7 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-8 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-9 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 22px
}
.style-10 {
  background-color: rgba(204,0,0,1);
  border: 1px solid rgba(0,0,0,1);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,1)
}
.style-11 {
  color: rgba(255,255,255,1);
  text-align: center;
  font-family: BalsamiqSans,sans-serif;
  font-size: 22px;
  font-weight: 700
}
.style-12 {
  color: rgba(153,153,153,1);
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-13 {
  color: rgba(153,153,153,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-14 {
  color: rgba(153,153,153,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-15 {
  background-color: rgba(51,51,51,1)
}
.style-16 {
  background-color: rgba(0,0,0,1)
}
.style-17 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-07-16-18:1512663539902.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-18 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 22px
}
.style-20 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-07-16-19:1512663540028.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-21 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-22 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-25 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-26 {
  background-color: rgba(51,51,51,1)
}
.style-27 {
  background-color: rgba(0,0,0,1)
}
.style-28 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-07-16-19:1512663540271.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-31 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-35 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 1px 0 0 0;
  width: 100%;
  height: 13.067%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.login-container-0-container-1-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 7px 0 0 3.49%;
  width: 90.158%;
  height: 83.333%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-4 {
  position: initial;
  margin: 24px 0 0 0;
  width: 7.042%;
  height: 33.333%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-2 {
  position: initial;
  margin: 0 0 0 8.09%;
  width: 37.323%;
  height: 100%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-3 {
  position: initial;
  margin: 24px 0 0 36.26%;
  width: 11.267%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-9 {
  position: initial;
  margin: 123px 0 0 12.06%;
  width: 20.317%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-5 {
  position: initial;
  margin: 17px 0 0 12.06%;
  width: 80%;
  height: 4.9%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-7 {
  position: initial;
  margin: 40px 0 0 12.06%;
  width: 80%;
  height: 4.9%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-10 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 40px 0 0 12.06%;
  width: 80%;
  height: 7.985%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-11 {
  position: initial;
  margin: 14px 0 0 0;
  width: 100%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-14 {
  position: initial;
  margin: 19px 0 0 12.06%;
  width: 59.682%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-13 {
  position: initial;
  margin: 10px 0 0 12.06%;
  width: 65.079%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-16 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 1px 0 0 0;
  width: 100%;
  height: 13.067%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.whoisit-container-0-container-1-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 7px 0 0 5.39%;
  width: 89.841%;
  height: 83.333%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-17 {
  position: initial;
  width: 37.455%;
  height: 100%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-23 {
  position: initial;
  margin: 24px 0 0 55.47%;
  width: 7.067%;
  height: 33.333%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-18 {
  position: initial;
  margin: 35px 0 0 33.96%;
  width: 28.253%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.whoisit-container-0-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 25px 0 0 6.03%;
  width: 89.206%;
  height: 21.778%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-19 {
  position: initial;
  width: 42.704%;
  height: 100%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-20 {
  position: initial;
  margin: 0 0 0 14.59%;
  width: 42.704%;
  height: 100%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.whoisit-container-0-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 12px 0 0 19.36%;
  width: 61.587%;
  height: 3.992%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-21 {
  position: initial;
  width: 12.886%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-22 {
  position: initial;
  margin: 0 0 0 71.64%;
  width: 15.463%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-24 {
  position: initial;
  margin: 62px 0 0 15.55%;
  width: 19.047%;
  height: 10.889%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-25 {
  position: initial;
  margin: 26px 0 0 12.38%;
  width: 24.761%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-27 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 100%;
  height: 13.067%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.videos-container-0-container-1-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 7px 0 0 3.17%;
  width: 91.746%;
  height: 83.333%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-34 {
  position: initial;
  margin: 24px 0 0 0;
  width: 6.92%;
  height: 33.333%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-28 {
  position: initial;
  margin: 0 0 0 3.8%;
  width: 36.678%;
  height: 100%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-29 {
  position: initial;
  margin: 24px 0 0 45.67%;
  width: 6.92%;
  height: 33.333%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-30 {
  position: initial;
  width: 100%;
  height: 31.76%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-31 {
  position: initial;
  margin: 17px 0 0 5.07%;
  width: 56.19%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.videos-container-0-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 6px 0 0 3.17%;
  width: 92.063%;
  height: 34.119%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-32 {
  position: initial;
  width: 47.241%;
  height: 100%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-33 {
  position: initial;
  margin: 0 0 0 5.51%;
  width: 47.241%;
  height: 100%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-35 {
  position: initial;
  margin: 11px 0 0 3.17%;
  width: 37.777%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.videos-container-0-row-5 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 7px 0 0 3.17%;
  width: 92.063%;
  height: 6.896%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-36 {
  position: initial;
  width: 47.241%;
  height: 100%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-37 {
  position: initial;
  margin: 0 0 0 5.51%;
  width: 47.241%;
  height: 100%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}